body{
  color: white;
  margin:0px;
  padding: 0px;
  font-size: 25px;
  font-weight:400px;
}
p{
  line-height: 40px;
}
.header{
  background-color: black;
  display:flex;
  justify-content: space-between;
  padding:25px;
  font:700 15px Ruda, sans-serif;
  color: white;;
}
.links{
  display:flex;
  flex-direction: row;
  font:15px;
}
.links > div{
  margin: 0px 15px 0px 15px;
}
.social{
  font:15px;
}
.social>i{
  margin: 0px 10px 0px 10px;
}
.main_section{
  height:90vh;
  background-image: url("https://s3-alpha-sig.figma.com/img/791f/9ca1/801cf713555ea70ba295e8de05e15650?Expires=1714953600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=q47NKRHN6AV14tMcax0wVfsJXA9dDPxobG~mtXIiII0dRlJidoc-cp5H3pX5prZKr-CBnpg-hgjFzLBqZFZf~FQFB6LNyzh68cxmq6ASmI72wq23Ra5lDcYKA9Eyn7fPpI21vlM7ZkUYsPbFsqx9K3WjHcpYwNWhEJbAB578LHiIxgoeZvHuEejx5bI5MWeOA72Eghb9cbDi-3X--9uu96pMfhXGphpbHYrutM0AWgU1G11ITfVm7J~GFbVQGrok9plfziCxnmjGr7XjYvR5vdZcxnk1k1oQnJeXn-u40jQekjZeItKy2FIOWKKx4AM2NRxG1~HFPhCw1gUXnUtc5w__");
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  width:100vw;
  position:relative;
  padding:30px;
}
.overlay{
  background-color: rgba(0,0,0,0.5);
  top:0;
  left:0;
  height:100%;
  width:100%;
  position:absolute;
  
}
.main_section_container{
  padding: 5% 8%;
  width:50%;
}
.main_section_container>h1{
  font-size: 50px;
  font-weight:700;
  width:100%
}
#divider{
  background-color: rgb(255, 0, 0);
  height:8px;
  width:80%;
}
.main_section_container>p{
  font-size: 20px;
  width:80%;
}
.About_us{
  background-color: black;
  width:100%;
  color: #f0f0f0;
}
.section_title{
  font-size: 40px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
}
h2{
  margin:60px 0px 10px 0px;
}
.section_sub_container {
  display:flex;
  justify-content: space-between;
  padding: 10% 15%;
}

.about_us_img > img {
  width:20em;
}
